In [2]:
import pandas as pd
#import seaborn as sns
#import numpy as np

In [3]:
general=pd.read_csv('general_new.csv')
#organizer=pd.read_csv('organizer_new.csv')
#updates=pd.read_csv('updates_new.csv')
#comments=pd.read_csv('comments_new.csv')
#donations=pd.read_csv('donations_new.csv')

# 통화 통일하기 
## 환율 기준 (하나은행 2020.11.04 기준)
### 미화환산율
- dollar(USD) :1.0000
- euro(EUR) : 1.1694
- pound(GBP) : 1.3007
- franc(CHF) : 1.0946
- krona (SEK) : 0.1130

### 1. general
- funds_raised
- funds_target
- amount_raised_unattributed

In [4]:
#작업할 컬럼만 뽑기
general_df = general[['chid','currency','funds_raised','funds_target','amount_raised_unattributed']]
general_df.insert(5, 'funds_raised_dollar', 0)
general_df.insert(6, 'funds_target_dollar', 0)
general_df.insert(7, 'amount_raised_unattributed_dollar', 0)

# float을 int로 변경하기 (밑에 계산하기 위해)
general_df['funds_raised'] = general_df['funds_raised'].astype(pd.Int64Dtype())
general_df['funds_target'] = general_df['funds_target'].astype(pd.Int64Dtype())
general_df['amount_raised_unattributed'] = general_df['amount_raised_unattributed'].astype(pd.Int64Dtype())
#general_df

<ipython-input-4-31048d5079ac>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_df['funds_raised'] = general_df['funds_raised'].astype(pd.Int64Dtype())
<ipython-input-4-31048d5079ac>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_df['funds_target'] = general_df['funds_target'].astype(pd.Int64Dtype())
<ipython-input-4-31048d5079ac>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_df['amount_raised_unattributed'] = general_df['amount_raised_unattributed'].astype(pd.Int64Dtype())

In [390]:
# 조건문 참고용
df=pd.DataFrame({'a':['사과','배','바나나','키위','참외'],'b':[6,7,8,9,10]})
df.insert(1, 'calculated', np.nan)

def myfunc(row):
    if row['a'] == '사과':
        return row['b'] * 2
    else:
        return row['b']
df['calculated'] = df.apply(lambda x : myfunc(x), axis=1)
#df

In [5]:
# funds_raised_dollar로 통일하고 새컬럼에 추가
def myfunc(row):
    if row['currency'] == 'euro':
        return round(row['funds_raised'] * 1.1694)
    elif row['currency'] == 'pound':
        return round(row['funds_raised'] * 1.3007)
    elif row['currency'] == 'franc':
        return round(row['funds_raised'] * 1.0946)
    elif row['currency'] == 'krona':
        return round(row['funds_raised'] * 0.1130)
    else:
        return row['funds_raised']
general_df['funds_raised_dollar'] = general_df.apply(lambda x : myfunc(x), axis=1)

<ipython-input-5-94fcc9b36658>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_df['funds_raised_dollar'] = general_df.apply(lambda x : myfunc(x), axis=1)

In [6]:
# funds_total_dollar로 통일하고 새컬럼에 추가
def myfunc(row):
    if row['currency'] == 'euro':
        return row['funds_target'] * 1.1694
    elif row['currency'] == 'pound':
        return row['funds_target'] * 1.3007
    elif row['currency'] == 'franc':
        return row['funds_target'] * 1.0946
    elif row['currency'] == 'krona':
        return row['funds_target'] * 0.1130
    else:
        return row['funds_target']
general_df['funds_target_dollar'] = general_df.apply(lambda x : myfunc(x), axis=1)

<ipython-input-6-fcc604f8fe51>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_df['funds_target_dollar'] = general_df.apply(lambda x : myfunc(x), axis=1)

In [7]:
# amount_raised_unattributed_dollar로 통일하고 새컬럼에 추가
def myfunc(row):
    if row['currency'] == 'euro':
        return row['amount_raised_unattributed'] * 1.1694
    elif row['currency'] == 'pound':
        return row['amount_raised_unattributed'] * 1.3007
    elif row['currency'] == 'franc':
        return row['amount_raised_unattributed'] * 1.0946
    elif row['currency'] == 'krona':
        return row['amount_raised_unattributed'] * 0.1130
    else:
        return row['amount_raised_unattributed']
general_df['amount_raised_unattributed_dollar'] = general_df.apply(lambda x : myfunc(x), axis=1)

<ipython-input-7-eab92e1f996e>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  general_df['amount_raised_unattributed_dollar'] = general_df.apply(lambda x : myfunc(x), axis=1)

In [8]:
# 통화 통일한 것 general에 JOIN
general_df1 = general_df[['chid','funds_raised_dollar','funds_target_dollar','amount_raised_unattributed_dollar']]
general_conv = general.merge(general_df1, on='chid', how='left')

In [9]:
# csv로 내보내기
general_conv.to_csv('general_dollar.csv', header= True ,index= False)

### 2. organizer
- raised

In [323]:
#general과 organizer JOIN (currency 사용하려면)
gen_cu = general[['chid','currency']]
orga_gen = organizer.merge(gen_cu, on='chid', how='left')

#필요한 컬럼만 뽑고, 새컬럼 삽입
organizer_df = orga_gen[['org_id','currency','raised']]
organizer_df.insert(3, 'raised_dollar', 0)

# float을 int로 변경하기 (밑에 계산하기 위해)
organizer_df['raised'] = organizer_df['raised'].astype(pd.Int64Dtype())
organizer_df

<ipython-input-323-5e8a271b7ff2>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  organizer_df['raised'] = organizer_df['raised'].astype(pd.Int64Dtype())

      org_id currency  raised  raised_dollar
0          0   dollar    <NA>              0
1          1   dollar    <NA>              0
2          2    krona    <NA>              0
3          3   dollar    <NA>              0
4          4   dollar    <NA>              0
...      ...      ...     ...            ...
8199    8199   dollar    <NA>              0
8200    8200   dollar    <NA>              0
8201    8201   dollar    <NA>              0
8202    8202   dollar    <NA>              0
8203    8203   dollar    <NA>              0

[8204 rows x 4 columns]

In [324]:
# raised_dollar로 통일하고 새컬럼에 추가
def myfunc(row):
    if row['currency'] == 'euro':
        return row['raised'] * 1.1694
    elif row['currency'] == 'pound':
        return row['raised'] * 1.3007
    elif row['currency'] == 'franc':
        return row['raised'] * 1.0946
    elif row['currency'] == 'krona':
        return row['raised'] * 0.1130
    else:
        return row['raised']
organizer_df['raised_dollar'] = organizer_df.apply(lambda x : myfunc(x), axis=1)

<ipython-input-324-135d636cbc6b>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  organizer_df['raised_dollar'] = organizer_df.apply(lambda x : myfunc(x), axis=1)

In [325]:
# 통화 통일한 것 organizer에 JOIN
organizer_df1 = organizer_df[['org_id','currency','raised_dollar']]
organizer_conv = organizer.merge(organizer_df1, on='org_id', how='left')

In [326]:
# csv로 내보내기
organizer_conv.to_csv('organizer_dollar.csv', header= True ,index= False)

### 3. comments
- amount

In [327]:
#general과 comments JOIN (currency 사용하려면)
gen_cu = general[['chid','currency']]
comm_gen = comments.merge(gen_cu, on='chid', how='left')

#필요한 컬럼만 뽑고, 새컬럼 삽입
comments_df = comm_gen[['comment_id','currency','amount']]
comments_df.insert(3, 'amount_dollar', 0)

# float을 int로 변경하기 (밑에 계산하기 위해)
comments_df['amount'] = comments_df['amount'].astype(pd.Int64Dtype())
comments_df

<ipython-input-327-e24d3dff2d8f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comments_df['amount'] = comments_df['amount'].astype(pd.Int64Dtype())

        comment_id currency  amount  amount_dollar
0                0   dollar    1000              0
1                1   dollar      50              0
2                2   dollar      50              0
3                3   dollar     770              0
4                4   dollar     100              0
...            ...      ...     ...            ...
169914      169914   dollar     500              0
169915      169915   dollar     100              0
169916      169916   dollar     250              0
169917      169917   dollar     100              0
169918      169918   dollar      50              0

[169919 rows x 4 columns]

In [330]:
# amount_dollar로 통일하고 새컬럼에 추가
def myfunc(row):
    if row['currency'] == 'euro':
        return row['amount'] * 1.1694
    elif row['currency'] == 'pound':
        return row['amount'] * 1.3007
    elif row['currency'] == 'franc':
        return row['amount'] * 1.0946
    elif row['currency'] == 'krona':
        return row['amount'] * 0.1130
    else:
        return row['amount']
comments_df['amount_dollar'] = comments_df.apply(lambda x : myfunc(x), axis=1)

<ipython-input-330-9c8e0853cde1>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  comments_df['amount_dollar'] = comments_df.apply(lambda x : myfunc(x), axis=1)

In [331]:
# 통화 통일한 것 comments에 JOIN
comments_df1 = comments_df[['comment_id','currency','amount_dollar']]
comments_conv = comments.merge(comments_df1, on='comment_id', how='left')

In [332]:
# csv로 내보내기
comments_conv.to_csv('comments_dollar.csv', header= True ,index= False)

### 4. donations
- amount

In [342]:
#general과 donations JOIN (currency 사용하려면)
gen_cu = general[['chid','currency']]
don_gen = donations.merge(gen_cu, on='chid', how='left')

#필요한 컬럼만 뽑고, 새컬럼 삽입
donations_df = don_gen[['donation_id','currency','amount']]
donations_df.insert(3, 'amount_dollar', 0)

# float을 int로 변경하기 (밑에 계산하기 위해)
donations_df['amount'] = donations_df['amount'].astype(pd.Int64Dtype())
donations_df

<ipython-input-342-78f43527e4c3>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  donations_df['amount'] = donations_df['amount'].astype(pd.Int64Dtype())

         donation_id currency  amount  amount_dollar
0                  0   dollar     480              0
1                  1   dollar      10              0
2                  2   dollar      50              0
3                  3   dollar     100              0
4                  4   dollar     100              0
...              ...      ...     ...            ...
2191672      2191672   dollar     150              0
2191673      2191673   dollar      25              0
2191674      2191674   dollar     100              0
2191675      2191675   dollar     250              0
2191676      2191676   dollar      50              0

[2191677 rows x 4 columns]

In [343]:
# amount_dollar로 통일하고 새컬럼에 추가
def myfunc(row):
    if row['currency'] == 'euro':
        return row['amount'] * 1.1694
    elif row['currency'] == 'pound':
        return row['amount'] * 1.3007
    elif row['currency'] == 'franc':
        return row['amount'] * 1.0946
    elif row['currency'] == 'krona':
        return row['amount'] * 0.1130
    else:
        return row['amount']
donations_df['amount_dollar'] = donations_df.apply(lambda x : myfunc(x), axis=1)

<ipython-input-343-0d21f5b12a67>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  donations_df['amount_dollar'] = donations_df.apply(lambda x : myfunc(x), axis=1)

In [345]:
# 통화 통일한 것 donations에 JOIN
donations_df1 = donations_df[['donation_id','currency','amount_dollar']]
donations_conv = donations.merge(donations_df1, on='donation_id', how='left')

In [346]:
# csv로 내보내기
donations_conv.to_csv('donations_dollar.csv', header= True ,index= False)

In [410]:
df1 = pd.read_csv('general_dollar.csv')
#df2 = pd.read_csv('organizer_dollar.csv')
#df3 = pd.read_csv('comments_dollar.csv')
#df4 = pd.read_csv('donations_dollar.csv')

In [412]:
df1.info()
#df1[df1['currency'] == 'euro']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3904 entries, 0 to 3903
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   chid                               3904 non-null   int64
 1   url                                3904 non-null   object
 2   scrape_date                        3904 non-null   object
 3   title                              3904 non-null   object
 4   created_date                       3904 non-null   object
 5   funds_raised                       3904 non-null   float64
 6   funds_target                       3853 non-null   float64
 7   picture                            3904 non-null   bool
 8   org_picture                        3904 non-null   bool
 9   counts_status_code                 3904 non-null   int64
 10  velocity_status_code               3904 non-null   int64
 11  updates_status_code                3904 non-null   int64
 12  comments_status_code               3904 non-null   int64
 13  donations_status_code              3904 non-null   int64
 14  currency                           3904 non-null   object
 15  tags                               3904 non-null   object
 16  story                              3852 non-null   object
 17  receiver_name                      992 non-null    object
 18  receiver_tax                       992 non-null    object
 19  total_photos                       3831 non-null   float64
 20  total_co_photos                    3831 non-null   float64
 21  total_community_photos             3831 non-null   float64
 22  total_comments                     3831 non-null   float64
 23  total_updates                      3831 non-null   float64
 24  total_donations                    3831 non-null   float64
 25  total_unique_donors                3831 non-null   float64
 26  amount_raised_unattributed         3831 non-null   float64
 27  number_of_donations_unattributed   3831 non-null   float64
 28  campaign_hearts                    3831 non-null   float64
 29  social_share_total                 3831 non-null   float64
 30  num_recent_donations               3856 non-null   float64
 31  recent_time_window                 3856 non-null   object
 32  funds_raised_dollar                3904 non-null   int64
 33  funds_target_dollar                3853 non-null   float64
 34  amount_raised_unattributed_dollar  3831 non-null   float64
dtypes: bool(2), float64(16), int64(7), object(10)
memory usage: 1014.2+ KB

In [370]:
#df2
df2.isnull().sum()

chid                0
org_id              0
org_name            0
org_type            0
location         4434
raised           5925
num_donations    5925
currency            0
raised_dollar    5925
dtype: int64

In [373]:
df3.isnull().sum()

chid                  0
comment_id            0
name                  9
timestamp           189
profile_url      161719
photos           167247
amount              460
is_anonymous        700
created_at          700
comment            1919
currency              0
amount_dollar       460
dtype: int64

In [374]:
df4.isnull().sum()

chid                   0
donation_id            0
amount                 0
is_anonymous           0
name                  24
created_at             0
profile_url      2145959
currency               0
amount_dollar          0
dtype: int64