In [1]:
import pandas as pd 
import numpy as np 
from datetime import datetime

In [2]:
comments= pd.read_csv('origin_data/comments.csv')

In [3]:
comments.head()

,chid,comment_id,comment_id_old,ugc_id,ugc_root_id,name,status,timestamp,profile_url,photos,amount,is_offline,is_anonymous,created_at,comment,deny_delete
0,1,0,110193038.0,411106794,411893230,NIAH FULFORD,1.0,2020-08-17T00:29:34,NaN,True,1000.0,False,False,2020-08-17T00:27:14-05:00,This donation is from the Black Alum Council o...,False
1,1,1,109466392.0,395193422,395979858,Kurt Nauenburg,1.0,2020-07-05T10:17:37,NaN,NaN,50.0,False,False,2020-07-05T10:12:15-05:00,Justice for Chris!,False
2,1,2,109368876.0,392956072,393742508,Alfonzo Thurman,1.0,2020-06-29T14:19:29,NaN,NaN,50.0,False,False,2020-06-29T14:15:16-05:00,I didn't know Chris personally but he clearly ...,False
3,1,3,109339718.0,392238386,393024822,Courtney Whistler,1.0,2020-06-27T17:14:21,NaN,NaN,770.0,False,False,2020-06-27T17:12:11-05:00,Doug Bright/ Binkley's Kitchen and Bar,False
4,1,4,109103830.0,386048640,386835076,Kevin Emberton,1.0,2020-06-13T19:15:44,NaN,NaN,100.0,False,False,2020-06-13T19:14:57-05:00,Thoughts and prayers to family,False

# 컬럼 삭제

In [4]:
comments.drop(['comment_id_old','ugc_id', 'ugc_root_id', 'status','is_offline', 'deny_delete' ], axis =1, inplace = True )

In [5]:
comments.head()

,chid,comment_id,name,timestamp,profile_url,photos,amount,is_anonymous,created_at,comment
0,1,0,NIAH FULFORD,2020-08-17T00:29:34,NaN,True,1000.0,False,2020-08-17T00:27:14-05:00,This donation is from the Black Alum Council o...
1,1,1,Kurt Nauenburg,2020-07-05T10:17:37,NaN,NaN,50.0,False,2020-07-05T10:12:15-05:00,Justice for Chris!
2,1,2,Alfonzo Thurman,2020-06-29T14:19:29,NaN,NaN,50.0,False,2020-06-29T14:15:16-05:00,I didn't know Chris personally but he clearly ...
3,1,3,Courtney Whistler,2020-06-27T17:14:21,NaN,NaN,770.0,False,2020-06-27T17:12:11-05:00,Doug Bright/ Binkley's Kitchen and Bar
4,1,4,Kevin Emberton,2020-06-13T19:15:44,NaN,NaN,100.0,False,2020-06-13T19:14:57-05:00,Thoughts and prayers to family

In [6]:
comments.shape

(169919, 10)

In [7]:
comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169919 entries, 0 to 169918
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   chid          169919 non-null  int64
 1   comment_id    169919 non-null  int64
 2   name          169910 non-null  object
 3   timestamp     169730 non-null  object
 4   profile_url   8200 non-null    object
 5   photos        2672 non-null    object
 6   amount        169459 non-null  float64
 7   is_anonymous  169219 non-null  object
 8   created_at    169219 non-null  object
 9   comment       168000 non-null  object
dtypes: float64(1), int64(2), object(7)
memory usage: 13.0+ MB

# timestamp 칼럼 변경

In [8]:
comments.timestamp = pd.to_datetime(comments.timestamp, utc=True)

In [9]:
comments.timestamp

0        2020-08-17 00:29:34+00:00
1        2020-07-05 10:17:37+00:00
2        2020-06-29 14:19:29+00:00
3        2020-06-27 17:14:21+00:00
4        2020-06-13 19:15:44+00:00
                    ...
169914   2020-09-09 14:48:10+00:00
169915   2020-09-08 13:51:11+00:00
169916   2020-09-08 08:16:27+00:00
169917   2020-09-07 19:46:47+00:00
169918   2020-09-07 16:46:55+00:00
Name: timestamp, Length: 169919, dtype: datetime64[ns, UTC]

# created_at 칼럼 변경

In [10]:
comments.created_at= pd.to_datetime(comments.created_at, utc=True)

In [11]:
comments.created_at

0        2020-08-17 05:27:14+00:00
1        2020-07-05 15:12:15+00:00
2        2020-06-29 19:15:16+00:00
3        2020-06-27 22:12:11+00:00
4        2020-06-14 00:14:57+00:00
                    ...
169914   2020-09-09 19:47:08+00:00
169915   2020-09-08 18:49:22+00:00
169916   2020-09-08 13:13:44+00:00
169917   2020-09-08 00:45:05+00:00
169918   2020-09-07 21:46:28+00:00
Name: created_at, Length: 169919, dtype: datetime64[ns, UTC]

# 데이터 확인

In [12]:
comments.shape

(169919, 10)

In [13]:
comments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169919 entries, 0 to 169918
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   chid          169919 non-null  int64
 1   comment_id    169919 non-null  int64
 2   name          169910 non-null  object
 3   timestamp     169730 non-null  datetime64[ns, UTC]
 4   profile_url   8200 non-null    object
 5   photos        2672 non-null    object
 6   amount        169459 non-null  float64
 7   is_anonymous  169219 non-null  object
 8   created_at    169219 non-null  datetime64[ns, UTC]
 9   comment       168000 non-null  object
dtypes: datetime64[ns, UTC](2), float64(1), int64(2), object(5)
memory usage: 13.0+ MB

# 데이터 파일 만들기

In [14]:
comments.to_csv('comments_new.csv', header= True, index= False)