In [1]:
import pandas as pd 
import numpy as np 
from datetime import datetime

In [2]:
donations = pd.read_csv('origin_data/donations.csv',)

In [3]:
donations.head()

,chid,donation_id,donation_id_old,amount,is_offline,is_anonymous,name,created_at,profile_url,verified
0,1,0,627174336,480.0,False,False,Pedal For Peace Bike Ride T-shirt Sales,2020-10-14T06:43:12-05:00,NaN,True
1,1,1,608485162,10.0,False,False,Jacquelin Pabon,2020-09-14T23:51:30-05:00,NaN,True
2,1,2,605443204,50.0,False,False,Mindy Bemis,2020-09-09T19:52:25-05:00,NaN,True
3,1,3,604989018,100.0,False,False,Dana Severs,2020-09-09T00:03:36-05:00,NaN,True
4,1,4,604456134,100.0,False,False,Linsey Fraser,2020-09-07T23:05:18-05:00,NaN,True

In [4]:
donations.shape

(2191677, 10)

In [5]:
donations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191677 entries, 0 to 2191676
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   chid             int64
 1   donation_id      int64
 2   donation_id_old  int64
 3   amount           float64
 4   is_offline       bool
 5   is_anonymous     bool
 6   name             object
 7   created_at       object
 8   profile_url      object
 9   verified         bool
dtypes: bool(3), float64(1), int64(3), object(3)
memory usage: 123.3+ MB

# 컬럼 삭제

In [6]:
donations.drop(['donation_id_old','is_offline', 'verified'], axis =1, inplace = True )

In [7]:
donations.head()

,chid,donation_id,amount,is_anonymous,name,created_at,profile_url
0,1,0,480.0,False,Pedal For Peace Bike Ride T-shirt Sales,2020-10-14T06:43:12-05:00,NaN
1,1,1,10.0,False,Jacquelin Pabon,2020-09-14T23:51:30-05:00,NaN
2,1,2,50.0,False,Mindy Bemis,2020-09-09T19:52:25-05:00,NaN
3,1,3,100.0,False,Dana Severs,2020-09-09T00:03:36-05:00,NaN
4,1,4,100.0,False,Linsey Fraser,2020-09-07T23:05:18-05:00,NaN

In [8]:
donations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191677 entries, 0 to 2191676
Data columns (total 7 columns):
 #   Column        Dtype
---  ------        -----
 0   chid          int64
 1   donation_id   int64
 2   amount        float64
 3   is_anonymous  bool
 4   name          object
 5   created_at    object
 6   profile_url   object
dtypes: bool(1), float64(1), int64(2), object(3)
memory usage: 102.4+ MB

# created_at 칼럼 변경

In [9]:
donations.created_at= pd.to_datetime(donations.created_at, utc= True)

In [10]:
donations.created_at

0         2020-10-14 11:43:12+00:00
1         2020-09-15 04:51:30+00:00
2         2020-09-10 00:52:25+00:00
3         2020-09-09 05:03:36+00:00
4         2020-09-08 04:05:18+00:00
                     ...
2191672   2020-09-07 20:09:18+00:00
2191673   2020-09-07 20:03:16+00:00
2191674   2020-09-07 19:54:17+00:00
2191675   2020-09-07 19:48:08+00:00
2191676   2020-09-07 19:47:37+00:00
Name: created_at, Length: 2191677, dtype: datetime64[ns, UTC]

# 최종확인

In [11]:
donations.head()

,chid,donation_id,amount,is_anonymous,name,created_at,profile_url
0,1,0,480.0,False,Pedal For Peace Bike Ride T-shirt Sales,2020-10-14 11:43:12+00:00,NaN
1,1,1,10.0,False,Jacquelin Pabon,2020-09-15 04:51:30+00:00,NaN
2,1,2,50.0,False,Mindy Bemis,2020-09-10 00:52:25+00:00,NaN
3,1,3,100.0,False,Dana Severs,2020-09-09 05:03:36+00:00,NaN
4,1,4,100.0,False,Linsey Fraser,2020-09-08 04:05:18+00:00,NaN

In [12]:
donations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2191677 entries, 0 to 2191676
Data columns (total 7 columns):
 #   Column        Dtype
---  ------        -----
 0   chid          int64
 1   donation_id   int64
 2   amount        float64
 3   is_anonymous  bool
 4   name          object
 5   created_at    datetime64[ns, UTC]
 6   profile_url   object
dtypes: bool(1), datetime64[ns, UTC](1), float64(1), int64(2), object(2)
memory usage: 102.4+ MB

# 데이터 만들기

In [13]:
donations.to_csv('donations_new.csv', header= True, index= False)

In [14]:
donations.shape

(2191677, 7)