In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
organizer = pd.read_csv('origin_data/organizers.csv')

In [3]:
organizer.head()

,chid,org_id,org_name,org_type,location,raised,num_donations
0,1,0,Jared Thomas,Organizer,"Indianapolis, IN",NaN,NaN
1,1,1,Chris Beaty Memorial Fund,Beneficiary,NaN,NaN,NaN
2,2,2,Saha Heirati,Organizer,NaN,NaN,NaN
3,3,3,Gus Jacobson,Organizer,"Forest Hills, NY",NaN,NaN
4,3,4,Kathleen Scarpa,Team member,NaN,NaN,NaN

In [4]:
organizer.shape

(8204, 7)

In [5]:
organizer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8204 entries, 0 to 8203
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   chid           8204 non-null   int64
 1   org_id         8204 non-null   int64
 2   org_name       8204 non-null   object
 3   org_type       8204 non-null   object
 4   location       3770 non-null   object
 5   raised         2279 non-null   object
 6   num_donations  2279 non-null   object
dtypes: int64(2), object(5)
memory usage: 448.8+ KB

# org_name 이상한거 바꾸기

In [6]:
organizer[organizer.chid == 416]

,chid,org_id,org_name,org_type,location,raised,num_donations
892,416,892,John Peel,Organizer,"Scottsdale, AZ","$105,948",1794
893,416,893,Stephanie Catudal,Beneficiary,NaN,NaN,NaN
894,416,894,✨,Team member,NaN,"$47,269",713
895,416,895,Kim W,Team member,NaN,"$1,848",36
896,416,896,Steven Doxey,Team member,NaN,"$1,510",22
897,416,897,Brian Allen-Aguilar,Team member,NaN,"$1,492",25

In [7]:
organizer.org_name= organizer.org_name.replace('✨','picture_man')

In [8]:
organizer[organizer.chid == 416]

,chid,org_id,org_name,org_type,location,raised,num_donations
892,416,892,John Peel,Organizer,"Scottsdale, AZ","$105,948",1794
893,416,893,Stephanie Catudal,Beneficiary,NaN,NaN,NaN
894,416,894,picture_man,Team member,NaN,"$47,269",713
895,416,895,Kim W,Team member,NaN,"$1,848",36
896,416,896,Steven Doxey,Team member,NaN,"$1,510",22
897,416,897,Brian Allen-Aguilar,Team member,NaN,"$1,492",25

# raised 형 변환

In [9]:
import re

In [10]:
def money(x):
    if not isinstance(x,str): return np.NaN
    else: 
        new = re.sub("[^0-9]", "", str(x))
        if new == '': return np.NaN
        else: return float(new)

In [11]:
organizer['raised'] = organizer['raised'].apply(money)

In [12]:
organizer['raised']= organizer.raised.astype('float')

In [13]:
organizer.raised.dtype

dtype('float64')

# 데이터 확인

In [14]:
organizer.shape

(8204, 7)

In [15]:
organizer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8204 entries, 0 to 8203
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   chid           8204 non-null   int64
 1   org_id         8204 non-null   int64
 2   org_name       8204 non-null   object
 3   org_type       8204 non-null   object
 4   location       3770 non-null   object
 5   raised         2279 non-null   float64
 6   num_donations  2279 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 448.8+ KB

# 파일 만들기

In [16]:
organizer.to_csv('organizer_new.csv', header= True ,index= False)