In [1]:
import pandas as pd 
import numpy as np 
from datetime import datetime

In [2]:
updates= pd.read_csv('origin_data/updates.csv',encoding= 'cp949')

In [3]:
updates.head()

,chid,update_id,author,author_type,user_profile_url,media_type,status,text,photos,created_at
0,1,24893752,Jared Thomas,ORGANIZER,NaN,1,1,Thank you to everyone who donated to Chris’ Go...,False,2020-06-18 16:24
1,3,25518194,Gus Jacobson,ORGANIZER,https://graph.facebook.com/v7.0/10156402123230...,1,1,We have raised over $12k for our computers! Th...,False,2020-08-30 10:27
2,3,25184752,Gus Jacobson,ORGANIZER,https://graph.facebook.com/v7.0/10156402123230...,1,1,No matter what school looks like in September ...,False,2020-07-22 16:36
3,3,25010100,Gus Jacobson,ORGANIZER,https://graph.facebook.com/v7.0/10156402123230...,1,1,Our campaign is 25% there! Thank you so much t...,False,2020-07-02 11:18
4,3,24922594,Gus Jacobson,ORGANIZER,https://graph.facebook.com/v7.0/10156402123230...,1,1,We&#039;ve raised $4k towards our goal since F...,True,2020-06-22 11:36

# 컬럼 삭제

In [4]:
updates.drop(['media_type','status'], axis = 1, inplace = True)

In [5]:
updates.head()

,chid,update_id,author,author_type,user_profile_url,text,photos,created_at
0,1,24893752,Jared Thomas,ORGANIZER,NaN,Thank you to everyone who donated to Chris’ Go...,False,2020-06-18 16:24
1,3,25518194,Gus Jacobson,ORGANIZER,https://graph.facebook.com/v7.0/10156402123230...,We have raised over $12k for our computers! Th...,False,2020-08-30 10:27
2,3,25184752,Gus Jacobson,ORGANIZER,https://graph.facebook.com/v7.0/10156402123230...,No matter what school looks like in September ...,False,2020-07-22 16:36
3,3,25010100,Gus Jacobson,ORGANIZER,https://graph.facebook.com/v7.0/10156402123230...,Our campaign is 25% there! Thank you so much t...,False,2020-07-02 11:18
4,3,24922594,Gus Jacobson,ORGANIZER,https://graph.facebook.com/v7.0/10156402123230...,We&#039;ve raised $4k towards our goal since F...,True,2020-06-22 11:36

In [6]:
updates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13032 entries, 0 to 13031
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   chid              13032 non-null  int64
 1   update_id         13032 non-null  int64
 2   author            13032 non-null  object
 3   author_type       13032 non-null  object
 4   user_profile_url  5688 non-null   object
 5   text              12594 non-null  object
 6   photos            13032 non-null  bool
 7   created_at        13032 non-null  object
dtypes: bool(1), int64(2), object(5)
memory usage: 725.5+ KB

In [7]:
updates.shape

(13032, 8)

# author_type 칼럼 정리

## 대소문자 변환 및 문자 변환

In [8]:
updates.author = updates.author_type.str.capitalize()

In [9]:
updates.author = updates.author.replace('Team_member', 'Team member')

In [10]:
updates.author.value_counts()

Organizer      11061
Beneficiary     1078
Team member      893
Name: author, dtype: int64

# created_at 칼럼 정리

In [11]:
updates.created_at = pd.to_datetime(updates.created_at, utc= True)

In [12]:
updates.created_at

0       2020-06-18 16:24:00+00:00
1       2020-08-30 10:27:00+00:00
2       2020-07-22 16:36:00+00:00
3       2020-07-02 11:18:00+00:00
4       2020-06-22 11:36:00+00:00
                   ...
13027   2020-04-30 08:01:00+00:00
13028   2020-09-18 13:35:00+00:00
13029   2020-09-07 22:24:00+00:00
13030   2020-08-30 09:51:00+00:00
13031   2020-10-29 13:20:00+00:00
Name: created_at, Length: 13032, dtype: datetime64[ns, UTC]

# 데이터 확인

In [13]:
updates.shape

(13032, 8)

In [14]:
updates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13032 entries, 0 to 13031
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   chid              13032 non-null  int64
 1   update_id         13032 non-null  int64
 2   author            13032 non-null  object
 3   author_type       13032 non-null  object
 4   user_profile_url  5688 non-null   object
 5   text              12594 non-null  object
 6   photos            13032 non-null  bool
 7   created_at        13032 non-null  datetime64[ns, UTC]
dtypes: bool(1), datetime64[ns, UTC](1), int64(2), object(4)
memory usage: 725.5+ KB

# 파일 만들기

In [15]:
updates.to_csv('updates_new.csv', header= True, index= False)