In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import plotly.io as pio
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.express as px

In [17]:
# 데이터를 불러옵니다.
donation_original = pd.read_csv('./data/donations_new.csv')
general_original = pd.read_csv('./data/general_new.csv')

In [18]:
print(donation_original.shape)
print(general_original.shape)

(2191677, 7)
(3904, 32)

In [19]:
#원하는 컬럼만 추출
general = general_original[['chid','title','created_date','funds_raised', 'funds_target', 'total_donations']]
general.shape

(3904, 6)

In [ ]:
general.groupby('title').agg({'funds_target':'mean'}).sort_values(by = 'funds_target', ascending = True).reset_index()

In [48]:
# 원하는 컬럼만 추출
donation = donation_original[['chid','amount','created_at']]
donation

         chid  amount                 created_at
0           1   480.0  2020-10-14 11:43:12+00:00
1           1    10.0  2020-09-15 04:51:30+00:00
2           1    50.0  2020-09-10 00:52:25+00:00
3           1   100.0  2020-09-09 05:03:36+00:00
4           1   100.0  2020-09-08 04:05:18+00:00
...       ...     ...                        ...
2191672  3905   150.0  2020-09-07 20:09:18+00:00
2191673  3905    25.0  2020-09-07 20:03:16+00:00
2191674  3905   100.0  2020-09-07 19:54:17+00:00
2191675  3905   250.0  2020-09-07 19:48:08+00:00
2191676  3905    50.0  2020-09-07 19:47:37+00:00

[2191677 rows x 3 columns]

In [51]:
donation = donation.assign(donated_at = pd.to_datetime(donation.loc[:, ('created_at')]))

In [54]:
donation.dtypes

chid                        int64
amount                    float64
created_at                 object
donated_at    datetime64[ns, UTC]
dtype: object

In [55]:
# donated_at 시간스탬프 삭제 및 컬럼명 조정
donation['donated_at'] = donation['donated_at'].dt.date

In [59]:
# 헷갈리니까 create_at 삭제
del donation['created_at']

In [61]:
donation.head()

   chid  amount donated_at
0     1   480.0 2020-10-14
1     1    10.0 2020-09-15
2     1    50.0 2020-09-10
3     1   100.0 2020-09-09
4     1   100.0 2020-09-08

In [65]:
df_1.loc[:, ('created_date')] = pd.to_datetime(df_1.loc[:, ('created_date')])
df_1.dtypes

ParserError: Unknown string format:  2 days ago

In [69]:
what = general[general['created_date'].str.contains('days')]
what

,chid,title,created_date,funds_raised,funds_target,total_donations
4,5,$100k for Center for Family Life,2 days ago,13950.0,100000.0,17.0
112,113,Howe Family Memorial Fund,6 days ago,81006.0,100000.0,394.0
113,114,In Memory of Rexhep Canoviq,3 days ago,39860.0,40000.0,268.0
252,253,Active FDNY Firefighter Battling Brain Cancer,5 days ago,92742.0,100000.0,1240.0
294,295,For the Connelly and Hayes families,5 days ago,46554.0,50000.0,1958.0
295,296,Francesco Russo contractors serious collision,4 days ago,49930.0,100000.0,639.0
302,303,Help Danny “CRUSH THIS “ Hodgkin’s Lymphoma !,3 days ago,63015.0,100000.0,550.0
451,452,Samatar Sahal Memorial Foundation,6 days ago,71978.0,75000.0,599.0
478,479,Aiko Fushida Memorial Fund to cover medical costs,7 days ago,75348.0,100000.0,275.0
610,611,Baby Karim’s Medicine for SMA,4 days ago,105223.0,2000000.0,1474.0
730,731,Breast Cancer Mama,7 days ago,120218.0,100000.0,764.0
884,885,"Support Armenia with Nory, Garo, Hrayr & Elie",5 days ago,47522.0,50000.0,228.0
897,898,College fund for Layla's children,5 days ago,56564.0,100000.0,418.0
1062,1064,Dipper for the Nippers,7 days ago,73836.0,50000.0,1733.0
1124,1126,Eddie needs us!,6 days ago,82046.0,80000.0,851.0
1168,1170,Emma Welp’s DIPG fight,6 days ago,65707.0,85000.0,926.0
1708,1710,Help Rabbi Klatzko Rebuild From Recent Fire,6 days ago,42527.0,200000.0,745.0
1955,1957,In Loving Memory of Sarbjit Sidhu,5 days ago,39057.0,50000.0,167.0
2266,2268,Kevin Peterson Jr,4 days ago,51656.0,100000.0,1332.0
2443,2445,Mariah McGill Memorial Fund,7 days ago,62658.0,100000.0,721.0
2480,2482,Matthew Choi's Memorial,7 days ago,47300.0,10000.0,626.0
2580,2582,Mickael Cohen Funeral Costs,2 days ago,41692.0,40000.0,348.0
2604,2606,Emergency Covid-19 Relief - Ana e Malit,4 days ago,38660.0,75000.0,184.0
2727,2729,"Orange County, CA Firefighters",7 days ago,672435.0,1000000.0,6510.0
2737,2739,Our Isaac Has A Brain Tumor - Please Help!,7 days ago,60520.0,100000.0,217.0
2824,2826,Please Help Carol Rowe Kick Cancer!,5 days ago,62263.0,100000.0,343.0
2996,2998,Rhiannon Osborne Funeral Fund,3 days ago,14128.0,15000.0,318.0
3335,3337,Support for Amar's Family,4 days ago,41311.0,100000.0,678.0
3357,3359,Support for Luca's family as he fights leukemia,6 days ago,113992.0,100000.0,940.0
3493,3495,Supporting the Coughlin Family,3 days ago,56245.0,100000.0,460.0
3520,3522,Tainted is selfish so now we gotta fix his house,5 days ago,47377.0,50000.0,1442.0
3537,3539,Tekabe Zewdie's Medical Fund,7 days ago,54697.0,100000.0,463.0
3548,3550,The Amanda Schlieben Memorial Scholarship Fund,7 days ago,77315.0,80000.0,629.0
3607,3609,The Toshi A. Kumar Garden Care Endowed Fund,4 days ago,23656.0,50000.0,80.0
3751,3753,Villasenor House Fire,6 days ago,42548.0,25000.0,295.0
3790,3792,WEBB Family expenses,5 days ago,49090.0,50000.0,500.0
3791,3793,Weis Family,6 days ago,75747.0,80000.0,770.0

In [64]:
# general과 donation 테이블 inner join
df_1 = pd.merge(general, donation, how = 'inner', on = 'chid')
donation.loc[:, ('donated_at')] = pd.to_datetime(donation.loc[:, ('donated_at')])
df_1.dtypes

chid                        int64
title                      object
created_date               object
funds_raised              float64
funds_target              float64
total_donations           float64
amount                    float64
donated_at         datetime64[ns]
dtype: object

In [63]:
# 펀딩 성공여부를 알 수 있는 불리언 타입의 'is_successful' 컬럼, 펀딩 개시일과 기부일 차이를 알려주는 'date_diff' 추가
df = df_1.assign(is_successful = df_1['funds_raised'] >= df_1['funds_target'],
                date_diff = df_1['donated_at'] - df_1['created_date'])
df

/Users/kimjoohee/opt/anaconda3/lib/python3.8/site-packages/pandas/core/arrays/datetimelike.py:1265: PerformanceWarning: Adding/subtracting array of DateOffsets to DatetimeArray not vectorized
  warnings.warn(

TypeError: unsupported operand type(s) for -: 'Timestamp' and 'str'

In [ ]:
# timedelta인 date_diff를 숫자형(float)으로 변환 (그래프 x축에 두기 위해)
df['date_diff'] = df['date_diff'].apply(lambda x:x.days)

In [ ]:
df.dtypes

In [ ]:
# 랜덤으로 chid 693번 펀딩의 정보 확인
df.loc[df['chid'] == 693,:]

In [ ]:
# 랜덤 chid의 펀딩의 날짜별 기부 횟수(donation_no)와 금액(amount), 펀딩시작일로부터의 일자 차이 확인
df_0233 = df.query('chid == 233').groupby('donated_at').agg({'title':'count','amount':'sum','date_diff':'mean'}).rename(columns = {'title' : 'donation_no'}).sort_values(by = 'donated_at', ascending = True).reset_index()
df_0292 = df.query('chid == 292').groupby('donated_at').agg({'title':'count','amount':'sum','date_diff':'mean'}).rename(columns = {'title' : 'donation_no'}).sort_values(by = 'donated_at', ascending = True).reset_index()
df_0478 = df.query('chid == 478').groupby('donated_at').agg({'title':'count','amount':'sum','date_diff':'mean'}).rename(columns = {'title' : 'donation_no'}).sort_values(by = 'donated_at', ascending = True).reset_index()
df_0693 = df.query('chid == 693').groupby('donated_at').agg({'title':'count','amount':'sum','date_diff':'mean'}).rename(columns = {'title' : 'donation_no'}).sort_values(by = 'donated_at', ascending = True).reset_index()

In [ ]:
# chid 233 케이스 데이터 확인
df_0233

In [ ]:
# chid 233 케이스 그래프 확인
fig = px.bar(df_0233, x='date_diff', y='donation_no', color='amount', color_continuous_scale='Greens', height=400)
fig.show()

In [ ]:
# chid 292 케이스 그래프 확인
fig = px.bar(df_0292, x='date_diff', y='donation_no', color='amount', color_continuous_scale='Greens', height=400)
fig.show()

In [ ]:
# chid 478 케이스 그래프 확인
fig = px.bar(df_0478, x='date_diff', y='donation_no', color='amount', color_continuous_scale='Greens', height=400)
fig.show()

In [ ]:
# chid 693 케이스 그래프 확인
fig = px.bar(df_0693, x='date_diff', y='donation_no', color='amount', color_continuous_scale='Greens', height=400)
fig.show()

In [ ]:
df

In [ ]:
# KMeans clustering으로 모금형태 구분 시도 예정
from sklearn.cluster import KMeans

'''
X = df[['kills', 'assists', 'damage']]
kmeans = KMeans(n_clusters=8, random_state=0).fit(X)

fig = px.scatter(
    개인유효공격, x = 'damage', y='kills', hover_data=['player_id'], color=kmeans.labels_)
fig.show()
'''

`이 글은 브랜치 테스트를 위한 문장입니다!`

In [ ]:
# 펀딩 시작일로부터 60일 이하 기간에 펀딩한 횟수 - 펀딩 시작일로부터 61일 이상 기간에 펀딩한 횟수 (전체)
df.query('date_diff <= 60').count() - df.query('date_diff > 60').count()

In [ ]:
# 전체 펀딩 횟수
df.count()

- `chid` 기준으로 펀딩 시작 후 60일 이내에 펀딩한 횟수(886926)가 전체 횟수(1048543)의 80%인 838834.4를 초과한다.
- 즉, 80% 이상의 기부 건이 펀딩 후 60일 이내에 발생한다는 것을 의미한다.

In [70]:
# 펀딩 시작일로부터 60일 이하 기간에 펀딩한 금액 - 펀딩 시작일로부터 61일 이상 기간에 펀딩한 금액 (전체)
df1 = df[['chid','amount','date_diff']]
df_a = df1.query('date_diff <= 60')
df_b = df1.query('date_diff > 60')

NameError: name 'df' is not defined

In [ ]:
print(df['amount'].sum() * 1)   # 전체 펀딩 금액
print('-'*20)
print(df['amount'].sum() * 0.8) # 전체 펀딩 금액의 80%
print(df['amount'].sum() * 0.2)

In [ ]:
print(df['amount'].sum() * 0.9) # 전체 펀딩 금액의 90%

In [ ]:
print(df_a['amount'].sum()+df_b['amount'].sum())
print('-'*20)
print(df_a['amount'].sum()) # 펀딩 시작일로부터 60일 이하 기간에 펀딩한 금액
print(df_b['amount'].sum()) # 펀딩 시작일로부터 61일 이상 기간에 펀딩한 금액

- 오차 추적 및 조정은 필요하나, 펀딩 시작일로부터 60일 이하 기간에 펀딩한 금액이 전체 펀딩의 90%보다 많은 수치임을 확인할 수 있음