In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import plotly.io as pio
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.express as px

In [2]:
# 데이터를 불러옵니다.
donation_original = pd.read_csv('./data/donations_dollar.csv')
general_original = pd.read_csv('./data/general_success.csv')
organizer_original = pd.read_csv('./data/organizer_dollar.csv')
updates_original = pd.read_csv('./data/updates_new.csv')
comments_original = pd.read_csv('./data/comments_dollar.csv')

In [3]:
general_original.head()

,Unnamed: 0,chid,url,scrape_date,title,created_date,funds_raised,funds_target,picture,org_picture,...,campaign_hearts,social_share_total,num_recent_donations,recent_time_window,funds_raised_dollar,funds_target_dollar,amount_raised_unattributed_dollar,char_age,success,dum_success
0,0,1.0,https://www.gofundme.com/f/-chris-beaty-memori...,2020-11-03,Chris Beaty Memorial Fund,2020-06-03,175083.0,200000.0,True,False,...,1691.0,9069.0,0.0,48 hours,175083,200000.0,0.0,153,False,0
1,1,2.0,https://www.gofundme.com/f/1-prosent-chance,2020-11-03,1 percent chance,2020-06-21,299042.0,2000000.0,True,False,...,542.0,1882.0,0.0,48 hours,33792,226000.0,0.0,135,False,0
2,2,3.0,https://www.gofundme.com/f/100-computers-in-10...,2020-11-04,MELS needs #100ComputersIn100Days,2020-06-19,13845.0,30000.0,True,True,...,119.0,383.0,0.0,48 hours,13845,30000.0,8196.0,138,False,0
3,3,4.0,https://www.gofundme.com/f/100-to-victims-of-t...,2020-11-03,100% to Victims of Taal Volcano in Philippines,2020-01-16,25.0,5000.0,True,True,...,1.0,0.0,0.0,48 hours,25,5000.0,0.0,292,False,0
4,4,5.0,https://www.gofundme.com/f/100k-for-center-for...,2020-11-04,$100k for Center for Family Life,2020-11-02,13950.0,100000.0,True,False,...,17.0,0.0,16.0,48 hours,13950,100000.0,1100.0,2,False,0

# 작업을 위한 테이블 편집

In [4]:
#원하는 컬럼만 추출
general = general_original[['chid','title','created_date','funds_raised_dollar', 'funds_target_dollar', 'amount_raised_unattributed_dollar', 'picture', 'org_picture', 'campaign_hearts', 'num_recent_donations', 'total_donations', 'success']]
general.columns = ['chid','title','created_date','funds_raised_d', 'funds_target_d', 'amount_anonymous', 'picture', 'org_picture', 'campaign_hearts', 'num_recent_donations', 'total_donations', 'success']
general.head()

,chid,title,created_date,funds_raised_d,funds_target_d,amount_anonymous,picture,org_picture,campaign_hearts,num_recent_donations,total_donations,success
0,1.0,Chris Beaty Memorial Fund,2020-06-03,175083,200000.0,0.0,True,False,1691.0,0.0,1705.0,False
1,2.0,1 percent chance,2020-06-21,33792,226000.0,0.0,True,False,542.0,0.0,602.0,False
2,3.0,MELS needs #100ComputersIn100Days,2020-06-19,13845,30000.0,8196.0,True,True,119.0,0.0,125.0,False
3,4.0,100% to Victims of Taal Volcano in Philippines,2020-01-16,25,5000.0,0.0,True,True,1.0,0.0,1.0,False
4,5.0,$100k for Center for Family Life,2020-11-02,13950,100000.0,1100.0,True,False,17.0,16.0,17.0,False

In [5]:
# 원하는 컬럼만 추출
donation = donation_original[['chid','is_anonymous','created_at', 'amount_dollar']]

In [6]:
donation.columns = ['chid','is_anonymous','donated_at', 'amount_d']

In [7]:
# donated_at 타입변경 및 시간스탬프 삭제
pd.options.mode.chained_assignment = None
donation.loc[:,'donated_at'] = pd.to_datetime(donation.loc[:,'donated_at']).dt.date

In [8]:
donation.dtypes

chid              int64
is_anonymous       bool
donated_at       object
amount_d        float64
dtype: object

In [9]:
# general과 donation 테이블 inner join
df_1 = pd.merge(general, donation, how = 'inner', on = 'chid')
df_1.dtypes

chid                    float64
title                    object
created_date             object
funds_raised_d            int64
funds_target_d          float64
amount_anonymous        float64
picture                    bool
org_picture                bool
campaign_hearts         float64
num_recent_donations    float64
total_donations         float64
success                    bool
is_anonymous               bool
donated_at               object
amount_d                float64
dtype: object

In [10]:
df_1[["created_date", "donated_at"]] = df_1[["created_date", "donated_at"]].apply(pd.to_datetime)
df_1.dtypes

chid                           float64
title                           object
created_date            datetime64[ns]
funds_raised_d                   int64
funds_target_d                 float64
amount_anonymous               float64
picture                           bool
org_picture                       bool
campaign_hearts                float64
num_recent_donations           float64
total_donations                float64
success                           bool
is_anonymous                      bool
donated_at              datetime64[ns]
amount_d                       float64
dtype: object

In [11]:
# 펀딩 성공여부를 알 수 있는 불리언 타입의 'is_successful' 컬럼 추가
df = df_1.assign(is_successful = df_1['funds_raised_d'] >= df_1['funds_target_d'],
                date_diff = df_1['donated_at'] - df_1['created_date'])
df.head()

,chid,title,created_date,funds_raised_d,funds_target_d,amount_anonymous,picture,org_picture,campaign_hearts,num_recent_donations,total_donations,success,is_anonymous,donated_at,amount_d,is_successful,date_diff
0,1.0,Chris Beaty Memorial Fund,2020-06-03,175083,200000.0,0.0,True,False,1691.0,0.0,1705.0,False,False,2020-10-14,480.0,False,133 days
1,1.0,Chris Beaty Memorial Fund,2020-06-03,175083,200000.0,0.0,True,False,1691.0,0.0,1705.0,False,False,2020-09-15,10.0,False,104 days
2,1.0,Chris Beaty Memorial Fund,2020-06-03,175083,200000.0,0.0,True,False,1691.0,0.0,1705.0,False,False,2020-09-10,50.0,False,99 days
3,1.0,Chris Beaty Memorial Fund,2020-06-03,175083,200000.0,0.0,True,False,1691.0,0.0,1705.0,False,False,2020-09-09,100.0,False,98 days
4,1.0,Chris Beaty Memorial Fund,2020-06-03,175083,200000.0,0.0,True,False,1691.0,0.0,1705.0,False,False,2020-09-08,100.0,False,97 days

In [12]:
# timedelta인 date_diff를 숫자형(float)으로 변환 (그래프 x축에 두기 위해)
df['date_diff'] = df['date_diff'].apply(lambda x:x.days)

In [13]:
df.dtypes

chid                           float64
title                           object
created_date            datetime64[ns]
funds_raised_d                   int64
funds_target_d                 float64
amount_anonymous               float64
picture                           bool
org_picture                       bool
campaign_hearts                float64
num_recent_donations           float64
total_donations                float64
success                           bool
is_anonymous                      bool
donated_at              datetime64[ns]
amount_d                       float64
is_successful                     bool
date_diff                        int64
dtype: object

In [14]:
# 랜덤으로 chid 693번 펀딩의 정보 확인
df.loc[df['chid'] == 693,:].head()

,chid,title,created_date,funds_raised_d,funds_target_d,amount_anonymous,picture,org_picture,campaign_hearts,num_recent_donations,total_donations,success,is_anonymous,donated_at,amount_d,is_successful,date_diff
403212,693.0,Black Leadership Initiative,2020-06-26,15847,15000.0,9970.0,True,True,186.0,0.0,209.0,True,False,2020-07-21,100.0,True,25
403213,693.0,Black Leadership Initiative,2020-06-26,15847,15000.0,9970.0,True,True,186.0,0.0,209.0,True,True,2020-07-13,25.0,True,17
403214,693.0,Black Leadership Initiative,2020-06-26,15847,15000.0,9970.0,True,True,186.0,0.0,209.0,True,False,2020-07-11,20.0,True,15
403215,693.0,Black Leadership Initiative,2020-06-26,15847,15000.0,9970.0,True,True,186.0,0.0,209.0,True,False,2020-07-10,500.0,True,14
403216,693.0,Black Leadership Initiative,2020-06-26,15847,15000.0,9970.0,True,True,186.0,0.0,209.0,True,False,2020-07-09,25.0,True,13

In [15]:
df.head()

,chid,title,created_date,funds_raised_d,funds_target_d,amount_anonymous,picture,org_picture,campaign_hearts,num_recent_donations,total_donations,success,is_anonymous,donated_at,amount_d,is_successful,date_diff
0,1.0,Chris Beaty Memorial Fund,2020-06-03,175083,200000.0,0.0,True,False,1691.0,0.0,1705.0,False,False,2020-10-14,480.0,False,133
1,1.0,Chris Beaty Memorial Fund,2020-06-03,175083,200000.0,0.0,True,False,1691.0,0.0,1705.0,False,False,2020-09-15,10.0,False,104
2,1.0,Chris Beaty Memorial Fund,2020-06-03,175083,200000.0,0.0,True,False,1691.0,0.0,1705.0,False,False,2020-09-10,50.0,False,99
3,1.0,Chris Beaty Memorial Fund,2020-06-03,175083,200000.0,0.0,True,False,1691.0,0.0,1705.0,False,False,2020-09-09,100.0,False,98
4,1.0,Chris Beaty Memorial Fund,2020-06-03,175083,200000.0,0.0,True,False,1691.0,0.0,1705.0,False,False,2020-09-08,100.0,False,97

In [16]:
# 랜덤으로 chid 329번 펀딩의 정보 확인
df.loc[df['chid'] == 329,:].head()

,chid,title,created_date,funds_raised_d,funds_target_d,amount_anonymous,picture,org_picture,campaign_hearts,num_recent_donations,total_donations,success,is_anonymous,donated_at,amount_d,is_successful,date_diff
190621,329.0,Karen Nascembeni,2020-04-11,55435,50000.0,0.0,True,False,634.0,0.0,638.0,False,True,2020-10-29,10.0,True,201
190622,329.0,Karen Nascembeni,2020-04-11,55435,50000.0,0.0,True,False,634.0,0.0,638.0,False,False,2020-10-29,50.0,True,201
190623,329.0,Karen Nascembeni,2020-04-11,55435,50000.0,0.0,True,False,634.0,0.0,638.0,False,False,2020-10-29,50.0,True,201
190624,329.0,Karen Nascembeni,2020-04-11,55435,50000.0,0.0,True,False,634.0,0.0,638.0,False,False,2020-10-29,100.0,True,201
190625,329.0,Karen Nascembeni,2020-04-11,55435,50000.0,0.0,True,False,634.0,0.0,638.0,False,False,2020-07-25,100.0,True,105

# 일자별 기부횟수, 기부액 총합 살펴보기
## 기부횟수
### 일자별 기부 발생 수

In [17]:
# 날짜별 donation chid 카운트하여 일별 기부 수 구함
df_day_numbers = df.groupby('created_date')[["chid"]].count().reset_index()
df_day_numbers.head()

  created_date  chid
0   2019-11-03  2016
1   2019-11-04  3683
2   2019-11-05  1755
3   2019-11-06  3552
4   2019-11-07  4374

In [18]:
# 일자별 발생한 기부횟수
fig = px.bar(df_day_numbers, x='created_date', y='chid', height=500, title='일자별 기부 발생 수')
# fig.show()

### 요일별 기부 발생 수

In [19]:
# 요일 데이터 추가
df_day_numbers['weekday'] = df_day_numbers['created_date'].dt.dayofweek

In [20]:
# 요일별 발생한 기부횟수 구하기
# 0: 월요일, 6: 일요일
df_wday_numbers = df_day_numbers.groupby('weekday')[["chid"]].sum().sort_values('weekday', ascending=True).reset_index()

In [21]:
from pandas import Series, DataFrame # 급 import

In [22]:
# 숫자 요일을 문자 요일로도 만들어줌
df_wday_numbers['wday_name'] = Series(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], index=[0, 1, 2, 3, 4, 5, 6])
df_wday_numbers

   weekday    chid  wday_name
0        0  368806     Monday
1        1  326426    Tuesday
2        2  318133  Wednesday
3        3  329103   Thursday
4        4  308981     Friday
5        5  249157   Saturday
6        6  291071     Sunday

In [23]:
# 요일별 발생한 기부횟수
fig = px.bar(df_wday_numbers, x='wday_name', y='chid', height=500, title='요일별 기부 발생 수')
# fig.show()

## 기부액 총합
### 일자별 기부액 총합

In [24]:
df_day_amount = df.groupby('created_date')[["funds_raised_d", "funds_target_d"]].sum().reset_index()
df_day_amount['funds_raised_d'] = round(df_day_amount['funds_raised_d'])
df_day_amount['funds_target_d'] = round(df_day_amount['funds_target_d'])
df_day_amount.head()

  created_date  funds_raised_d  funds_target_d
0   2019-11-03       129331358     166880000.0
1   2019-11-04       339794866     489283830.0
2   2019-11-05       239493924     356661000.0
3   2019-11-06       244217040     269647000.0
4   2019-11-07       363678288     208313414.0

In [25]:
# 일자별 기부액 총합
fig = px.line(df_day_amount, x='created_date', y='funds_raised_d', height=500, title='일자별 기부액 총합')
# fig.show()

In [26]:
# 2020-03-15 에 기부된 금액, 주로 어떤 프로젝트로 갔을까? 코로나19 판데믹 선언과 관련 있을까?
df_0315 = df[df['donated_at']=='2020-03-15'].groupby('title')[["amount_d"]].sum().sort_values('amount_d', ascending=False).reset_index()
df_0315.head(10)

                                               title    amount_d
0                                      Fight4Fiachra  35802.3504
1      Orange County United Way Pandemic Relief Fund  35100.0000
2           Un Respiro per Olbia - Emergenza COVID19  22229.1246
3     #insieme per la terapia intensiva di CISANELLO  22004.5998
4          Help Pomona students impacted by COVID-19  21649.0000
5                   Amanda Smith Rehabilitation Fund  16645.0000
6  COVID-19 Osp.BustoA. e in memoria del dott. St...  15763.5120
7  Emergenza Coronavirus - AOU Maggiore della Carit횪  15736.6158
8      emergenza coronavirus - rianimazione Cernusco  15641.8944
9                               SOS.Covid19.Portugal  14555.5218

### 케이스 톺아보기 (전체 모금 금액 1st로 높았던 2020-03-15 best 건)
**Fight4Fiachra**
- 3.14에 open한 프로젝트
- 코로나19 관련 X 
- 희귀한 백혈병 환자에 대한 모금
- 3.19부터 11.11까지 9회에 걸친 업데이트로 환자 상태 및 상황 공유
- 펀딩이 열린 8개월 전의 모금액수가 압도적으로 많아 보이며, 현재까지도 (가장 최근 모금 9일 전) 모금 진행중

**Orange County United Way Pandemic Relief Fund**
- 코로나19 관련

**Un Respiro per Olbia - Emergenza COVID19**
- 코로나19 관련

**#insieme per la terapia intensiva di CISANELLO**
- 코로나19 관련

**Help Pomona students impacted by COVID-19**
- 코로나19 관련

In [27]:
# 2020-06-01 에 기부된 금액, 주로 어떤 프로젝트로 갔을까? Black Lives Matter와 관련 있을까?
df_0601 = df[df['donated_at']=='2020-06-01'].groupby('title')[["amount_d"]].sum().sort_values('amount_d', ascending=False).reset_index()
df_0601.head(10)

                                               title  amount_d
0             Supporting Robbie McEachern and Family   46045.0
1      Orange County United Way Pandemic Relief Fund   39751.0
2                Matt Gilliam & Family Memorial Fund   39570.0
3                                       #TeamDessino   34155.0
4  Help Us Rebuild Sunny Optometry Destroyed by R...   30311.0
5    BKShowsLove Emergency Fund to Feed Brooklynites   26301.0
6                                   FRIENDS OF FLOYD   24333.0
7        Covid took Sarah from her beloved children.   22823.0
8  Lloyd's Pharmacy Rebuilding Fund - St. Paul Riots   16785.0
9                 Hack the System for Social Justice   16570.0

### 케이스 톺아보기 (전체 모금 금액 3rd로 높았던 2020-06-01 best 건)
(참고) On May 25, 2020, George Floyd, a 46-year-old black man, was killed in Minneapolis, Minnesota, while being arrested for allegedly using a counterfeit bill.

**Supporting Robbie McEachern and Family**
- 암에 걸린 남성에 대한 펀딩
- 2020-05-31에 업로드되었고, 다음날인 2020-06-01에 압도적으로 많은 기부 들어옴
- 총 기부금액(11.24 홈피 기준) $167,980. 전체 금액 기준으로 봐도 첫날에 25% 이상 들어온 것 확인
- 2020-06-02에 감사 업데이트, 2020-06-19에 사망했다는 내용의 업데이트(사망일 6.18)가 있음

**Orange County United Way Pandemic Relief Fund**
- 코로나19 케이스와 동일 (스테디셀러)

**Matt Gilliam & Family Memorial Fund**
- 사망한 가장의 가족을 위한 펀딩
- 6.1에 시작했고 대부분의 금액이 6.5까지 모금되어 6.5에 감사인사 업데이트
- 하지만 현재까지 목표금액인 150000을 채우지는 못함, 그래도 꽤 많은 금액(131020)

**#TeamDessino**
- 사망하게 된 한 남성에 대한 스토리
- 인물에 대한 맥락 소개가 자세함
- 5.31에 업로드했고 6.2에 업데이트 2회 있었음
- 목표금액 100000를 101075로 달성

**Help Us Rebuild Sunny Optometry Destroyed by Riots**
- 폭도들(?)이 병원을 침입하여 각종 장비들을 훼손하고 약탈한 상황으로 보임
- 전체 250000 중 87531만 달성
- 장문의 스토리와 유튜브 링크도 몇 개 들어가있음

# 타이틀 특정 문구(예. COVID, Coronavirus, Black 등) 별로 콘텐츠 분류 가능한지 확인
해보지는 않았고, 시도가 가능하다 정도만 남겨둠

## 코로나19 관련
- COVID
- Corona

In [28]:
df[df['title'].str.contains('COVID')].groupby('title')[["amount_d"]].sum().sort_values('amount_d', ascending=False).reset_index()

                                                 title     amount_d
0             Un Respiro per Olbia - Emergenza COVID19  422436.3948
1             COVID-19: PW Residents Need Our Help NOW  323574.0000
2                 Pros For Heroes COVID-19 Relief Fund  213835.0000
3                  MN Immigrant Families COVID-19 Fund  201673.0000
4      MillionLives.org : COVID-19 Global Support Fund  197260.0000
..                                                 ...          ...
135      COVID-2019 Community Response - Food Security   14215.0000
136  COVID-19:Help Feed the Most Vulnerable in Oakl...   14034.0000
137                    Ethio-STL COVID-19 Fund Raising   14010.0000
138    COVID-19 Indigenous Seed Crisis Response Circle   13936.0000
139                        COVID19 diagnosis in Africa     409.2900

[140 rows x 2 columns]

In [29]:
df[df['title'].str.contains('Corona')].groupby('title')[["amount_d"]].sum().sort_values('amount_d', ascending=False).reset_index()

                                                title     amount_d
0                            India Coronavirus Crisis  168787.9369
1      Emergenza Coronavirus Marche #NoiSiamoLeMarche  164004.8418
2     SOS Coronavirus, fondi per la terapia intensiva  149065.7568
3   Coronavirus a Pisa: sosteniamo il nostro osped...  142333.5210
4              Help Fight Corona Virus in the Algarve  127850.5020
5                          Coronavirus, "Che l'inse?"  112764.0726
6                              Shlomi��셲 Corona fight  112373.0000
7   Emergenza Coronavirus - AOU Maggiore della Carit횪  102095.6364
8          Coronavirus - fondi per Policlinico Modena   68264.8944
9              Ospedale Santo Spirito VS Corona Virus   67530.5112
10        Masks for Life - Fight Against Corona Virus   63245.0000
11      Coronavirus, aiutiamo il Pascale e il Cotugno   59431.2468
12              Canada for Wuhan - Coronavirus Relief   57176.0000
13                 Emergenza CoronaVirus - Basilicata   55484.5218
14      Coronavirus Fund for BIWoC - Act in Allyship!   55091.0000
15  Un aiuto per l'ospedale POMA Mantova- Coronavirus   54648.4008
16     Coronavirus Care Packages - Help Those in Need   54457.0000
17         Mission Santa Maria Coronavirus Food Drive   53693.0000
18  Help Uyghur Refugees in Turkey Affected by Corona   52905.0000
19    Double-Lung Transplant Coronavirus Patient Fund   45741.0000
20                         New York Kicks Coronavirus   40000.0000
21           Hebrew Public Coronavirus Emergency Fund   35264.0000
22          Gonder Hibret's Campaign For Corona Virus   29040.0000
23  Meeting the challenge of the Coronavirus Pandemic   25025.0000
24                    Help Iranians Fight Coronavirus   24478.0000
25   FU Coronavirus! Support Undocumented Youth in GA   21466.0000
26               Help CIC Theater Survive Coronavirus   20735.0000
27  Help  for Ethiopia's Corona Virus First Respon...   20350.0000
28    Help Support The Canyon School Inc Corona Virus   18280.0000
29        Helping Others During the Coronavirus Panic   15145.0000
30      AKPsi Fundraising for Coronavirus Relief Fund   13828.0000
31   One for all!!! Lasta is united against Corona!!!   12662.8930
32                      CoronaVirus Outbreak-ETHIOPIA    5816.1100
33                Stuck abroad because of Coronavirus      95.0000

## BlackLivesMatter 관련
- FLOYD
- Matter
- MATTER

In [30]:
df[df['title'].str.contains('FLOYD')].groupby('title')[["amount_d"]].sum().reset_index()

              title  amount_d
0  FRIENDS OF FLOYD  132935.0

In [31]:
df[df['title'].str.contains('Matter')].groupby('title')[["amount_d"]].sum().reset_index()

                                               title     amount_d
0                                 Black Lives Matter  104474.0000
1                       Black Lives Matter Walk Fund   15572.0000
2                             Black Minds Matter BMM   21721.6900
3                              Black Minds Matter UK   84853.7659
4                Black Trans Lives Matter Youth Fund   82931.0000
5     Carbon People of Color ERG- Black Lives Matter   30568.0000
6        Everesting for Black Lives Matter via NAACP   27304.0000
7                    Ismailis for Black Lives Matter   23138.0000
8             Lift Every Voice for #BlackLivesMatter   13770.0000
9   Our Black Legacy Matters: Wilfandel Preservation   19010.0000
10            Therabody for Black Lives Matter (BLM)   15120.0000

In [32]:
df[df['title'].str.contains('MATTER')].groupby('title')[["amount_d"]].sum().reset_index()

                                     title   amount_d
0  Alun's campaign for MEN MATTER SCOTLAND  26703.371
1    HORROR WRITERS FOR BLACK LIVES MATTER  25095.000

# 분야별 기부횟수, 기부액 비교
## 데이터 정리

In [33]:
general_original.columns

Index(['Unnamed: 0', 'chid', 'url', 'scrape_date', 'title', 'created_date',
       'funds_raised', 'funds_target', 'picture', 'org_picture',
       'counts_status_code', 'velocity_status_code', 'updates_status_code',
       'comments_status_code', 'donations_status_code', 'currency', 'tags',
       'story', 'receiver_name', 'receiver_tax', 'total_photos',
       'total_co_photos', 'total_community_photos', 'total_comments',
       'total_updates', 'total_donations', 'total_unique_donors',
       'amount_raised_unattributed', 'number_of_donations_unattributed',
       'campaign_hearts', 'social_share_total', 'num_recent_donations',
       'recent_time_window', 'funds_raised_dollar', 'funds_target_dollar',
       'amount_raised_unattributed_dollar', 'char_age', 'success',
       'dum_success'],
      dtype='object')

In [61]:
by_category1 = general_original.groupby('tags')[["chid", "funds_raised", "funds_target", "social_share_total"]]
by_category2 = by_category1.agg({'chid':'count','funds_raised':'mean','funds_target':'mean','social_share_total':'mean'}).sort_values('chid', ascending=False).reset_index()
by_category2.rename(columns={'tags':'category', 'chid':'case', 'funds_raised':'avg_raised', 'funds_target':'avg_target', 'social_share_total':'avg_share'}, inplace=True)

In [64]:
by_category2.avg_raised = round(by_category2.avg_raised, 1)
by_category2.avg_target = round(by_category2.avg_target, 1)
by_category2.avg_share = round(by_category2.avg_share)

by_category2.head()

                     category  case  avg_raised  avg_target  avg_share
0  Medical, Illness & Healing  1117    111014.3    203147.6     3516.0
1     Accidents & Emergencies  1104     84381.2    125270.3     3485.0
2        Funerals & Memorials  1030     67879.5     79981.3     3661.0
3       Community & Neighbors   193     68186.7    153299.5      833.0
4        Education & Learning    97     31174.6     61866.0      596.0

In [67]:
by_category3 = by_category2.assign(rate = round(by_category2['case']/by_category2.case.sum() * 100, 2))
by_category3.columns

Index(['category', 'case', 'avg_raised', 'avg_target', 'avg_share', 'rate'], dtype='object')

In [70]:
category = by_category3.reindex(columns=['category', 'case', 'rate', 'avg_raised', 'avg_target', 'avg_share'])
category.sort_values('rate', ascending=False)

,category,case,rate,avg_raised,avg_target,avg_share
0,"Medical, Illness & Healing",1117,28.61,111014.3,203147.6,3516.0
1,Accidents & Emergencies,1104,28.28,84381.2,125270.3,3485.0
2,Funerals & Memorials,1030,26.38,67879.5,79981.3,3661.0
3,Community & Neighbors,193,4.94,68186.7,153299.5,833.0
4,Education & Learning,97,2.48,31174.6,61866.0,596.0
5,Other,72,1.84,39411.8,80830.6,820.0
6,Volunteer & Service,58,1.49,44146.0,80947.9,773.0
7,Animals & Pets,52,1.33,47403.4,75738.5,2307.0
8,"Missions, Faith & Church",48,1.23,33054.3,115860.3,823.0
9,"Creative Arts, Music & Film",36,0.92,29141.5,45922.2,913.0
10,"Sports, Teams & Clubs",32,0.82,22930.2,39687.5,605.0
11,"Babies, Kids & Family",26,0.67,30412.5,78580.8,905.0
12,Business & Entrepreneurs,12,0.31,83430.1,1404333.3,598.0
13,Environment,9,0.23,43612.9,74722.2,1457.0
14,"Dreams, Hopes & Wishes",7,0.18,24399.0,31428.6,851.0
15,Celebrations & Events,5,0.13,25099.6,98066.6,685.0
16,Competitions & Pageants,2,0.05,19886.0,35000.0,1456.0
17,Non-Profits & Charities,2,0.05,17918.0,57500.0,82.0
18,"Rent, Food & Monthly Bills",1,0.03,39715.0,50000.0,245.0
19,Travel & Adventure,1,0.03,24000.0,1000.0,517.0

In [73]:
fig = px.pie(category, values='rate', names='category', hover_data=['case'], title='기부횟수 분야별 비율')
# fig.show()

In [74]:
fig = px.bar(category, x='category', y='case', height=500, title='분야별 기부횟수')
# fig.show()